.idea
node_modules
.DS_STORE
static

.module-cache
*.log
*.map

*.orig
.DS_Store
Thumbs.db
logs
reports
NO_COMMIT
example
examples
test-reports
coverage
tests_compiler

src
.commitlintrc.js
.editorconfig
.gitattributes
.gitignore
.lintstagedrc.js
.npmrc
.nvmrc
.prettierrc
eslint.config.js
jest.extend.js
package-lock.json
scripts.build.js
scripts.example.js
scripts.tests.js
tsconfig.json
